<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>1009974733700-7k972ts1b87fi9g63e4i1uro567ffobb.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1009974733700-7k972ts1b87fi9g63e4i1uro567ffobb</string>
	<key>API_KEY</key>
	<string>AIzaSyDYB8ba3-42FD5mgjrBbbUoIcB36tUuqR0</string>
	<key>GCM_SENDER_ID</key>
	<string>1009974733700</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.stella.LoveSick2</string>
	<key>PROJECT_ID</key>
	<string>lovesick-f364c</string>
	<key>STORAGE_BUCKET</key>
	<string>lovesick-f364c.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true></true>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<false></false>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1009974733700:ios:6108df4d778a0f39</string>
	<key>DATABASE_URL</key>
	<string>https://lovesick-f364c.firebaseio.com</string>
</dict>
</plist>